$navbar-default-bg: #032b2f;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #f3f3f3;
  text-transform: uppercase;
  letter-spacing: -0.1em;
  font-weight: bold;
}

#logo:hover {
  color: #f3f3f3;
  text-decoration: none;
  
}
.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('img.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #f3f3f3;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -0.1em;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #032b2f;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
  color: #aaa;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a:hover{
  color: #222;
}

footer small {
  float: left;
 
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}
